@charset 'utf-8';
@import url('./mobile.css');
@import url('./desktop.css');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


:root {

}