@media screen and (min-width: 650px) {
  .page_head {
    /* height: 80vh; */
    margin-bottom: 40px;
    /* background: wheat; */
  }

  .head_content {
    clip-path: unset;
  }

  .navbar {
    position: relative;
    /* bottom: var(--navbar_height); */
  }

  .nav_menu {
    display: none;
  }

  .head_content {
    margin-top: unset;
  }

  .nav_icon {
    transform: scale(1.4);
  }

  .menu_overlay {
    display: none;
  }

  .bg_image {
  }

  .description_container {
    /* position: static;
    margin-top: 0;
    clip-path: unset;
    z-index: unset; */
  }

  .content_line {
    width: 18%;
  }

  .to_content a { 
    font-size: 50px;
  }
}
