@media screen and (min-width: 650px) {
  .page_head {
    margin-bottom: 40px;
    scrollbar-width: none;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .head_content {
    clip-path: unset;
  }

  .navbar {
    position: relative;
    /* bottom: var(--navbar_height); */
  }

  .nav_menu {
    display: none;
  }

  .head_content {
    margin-top: unset;
  }

  .nav_icon {
    transform: scale(1.4);
  }

  .menu_overlay {
    display: none;
  }

  .bg_image {
  }

  .info_container {
    width: 60%;
  }

  .slogan {
  }

  .description_container {
    /* position: static;
    margin-top: 0;
    clip-path: unset;
    z-index: unset; */
  }

  .content_line {
    width: 18%;
  }

  .arrow_image {
    height: 60px;
  }

  .partnerz_description {
    padding: 5% 20%;
    font-size: 1.6rem;
  }

  .services,
  .services_container {
    display: flex;
    flex-flow: row wrap;
    width: 98%;
    justify-content: center;
    align-items: center;
  }

  .services_container {
    flex-flow: column;
    width: 100%;
    max-width: 1743px;
  }

  .services h2 {
    display: block;
    width: 100%; 
  }

  .service {
    min-width: 280px;
    max-width: 550px;
  }

  .service:hover {
    color: white;
    background: #48155c;
    padding: 4px;
    margin: 16px;
    border-radius: 0;
    transition: all 0.7s ease;
  }
}
