.page_head {
  height: 100vh;
  min-width: 300px;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  color: #ffffff;
  background: #000000fb;
  box-shadow: 0px 1px 1px 3px #3d3d3dfb;
  height: var(--navbar_height);
  max-height: var(--navbar_height);
  width: 100%;
  z-index: 40;
}

.to_content {
  position: absolute;
  left: 80%;
  top: 80%;
  color: #ffffff;
  z-index: 5;
  animation: pointo 4s infinite;
}

.arrow_image {
  height: 35px;
}

.to_content a {
  padding: 20px;
}

@keyframes pointo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.to_content a {
  text-decoration: none;
  color: inherit;
}

.navbar_content,
.navbar_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar_content {
  justify-content: space-around;
}

.navbar_brand {
  width: 100%;
  height: 70%;
  object-fit: contain;
  object-position: center center;
}

.nav_icon {
  transform: scale(1.2);
}

.menu_overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: #141211fa;
}

.head_content {
  position: relative;
  margin-top: var(--navbar_height);
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
  height: 100%;
  min-width: 300px;
}

.bg_container,
.bg_image,
.head_info {
  height: 100%;
  width: 100%;
}

.bg_container {
  position: relative;
}

.bg_image {
  object-fit: cover;
  object-position: center center;
}

.head_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 4;
  justify-content: center;
  align-items: center;
  background: #3333339f;
}

.info_container {
  width: 80%;
  color: #ffffff;
  border-left: 4px solid #94b60b;
  padding-left: 10px;
}

.slogan {
  margin-block-start: 0;
}

.page_content {
  /* margin-top: 50px; */
}

.description_container {
  /* position: relative; 
  margin-top: -4vh;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  z-index: -4;
  background: #b68324; */
}

.credit {
  display: none;
  visibility: hidden;
}

.content_heading {
  padding: 2%;
  padding-top: 40px;
  text-align: center;
}

.content_line {
  position: relative;
  top: -14px;
  height: 8px;
  width: 30%;
  margin: 0 auto;
  border-radius: 8px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#31bd96),
    to(#8945b3)
  );
}

.partnerz_description {
  padding: 5%;
  padding-bottom: 40px;
  font-size: 1.2rem;
}

.services {
  width: 100%;
}

.services h2 {
  text-align: center; 
}

.service {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e8ee;
  padding: 4px;
  margin: 16px;
  background: #eaecf0;
  border-radius: 6px;
  height: 300px;  
  min-width: 300px;
  transition: all 0.7s ease;
}

.service:hover {
  color: white;
  background: #94b60b;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  transition: all 0.7s ease;
}

.service_title {
  font-size: 20px;
  padding: 14px 0;
  margin: 6px;
}

.service_description {
  padding: 4px;
  margin: 8px;
}

.service_image {
  height: 40px;
  border-radius: 100%;
  margin: 6px;
}

.page_footer {
  margin-top: 30px;
  background: #f5f2f2fb;
  height: 300px;
  width: 100%;
  min-width: 300px;
}
