.page_head {
  height: 60vh;
  margin-bottom: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  color: #ffffff;
  background: #0a0a0af5;
  /* background: transparent; */
  height: var(--navbar_height);
  max-height: var(--navbar_height);
  width: 100%;
  z-index: 40;
}

.navbar_content,
.navbar_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar_content {
  justify-content: space-around;
}

.navbar_brand {
  width: 100%;
  height: 50%;
  object-fit: contain;
  object-position: center center;
}

.nav_icon {
  transform: scale(1.2);
}

.menu_overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: #141211fa;
  /* opacity: 0; */
}

.head_content {
  position: relative;
  margin-top: var(--navbar_height);
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
  height: 100%;
  /* background: #f5deb3ec; */
}

.bg_container,
.bg_image,
.head_info {
  height: 100%;
  width: 100%;
}

.bg_container {
  position: relative;
}

.bg_image {
  object-fit: cover;
  object-position: center center;
}

.head_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 4;
  justify-content: center;
  align-items: center;
  /* text-align: right; */
  background: rgba(12, 8, 0, 0.582);
}

.info_container {
  width: 80%;
  color: #ffffff;
  /* background: #000000a2; */
}
